.navigation{
    margin-top: 40px;
    margin-left: .2rem;
    padding: .5rem;
    padding-top: 2rem;
    width: 230px;
    height: 400px;
}

.navigation ul{
    list-style: none;
}
.navigation ul>li>a{
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 1rem;
    border-radius: 2px;
    border-bottom: 1px solid gainsboro;
    color: dimgray;
    font-size: 1.08rem;
}

.navigation ul>li>a:hover{
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 2px;
    transition: all ease-in .2s;
}